<section class="content">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="header">
              <div class="col-xs-12 col-sm-6">
                <h2>Offres</h2>
              </div>
            </div>
            <div class="body">
              <div class="row">
                <div class="col-md-4">
                  <div class="card border-apply">
                    <div class="m-b-20">
                      <div class="contact-grid">
                        <div class="profile-header l-bg-purple-dark">
                          <div class="user-name">Winno</div>
                          <div class="name-center">Développement FULLSTACK</div>
                        </div>
                        <img src="assets/images/user/winno.jfif" class="user-img" alt="">
                        <p>
                            développeur full stack  (NodeJs , React , JS, MongoDB). 
                          <br />Tunis
                          <br />4 mois
                        </p>
                        <div>
                          <span class="phone">
                            <i class="material-icons">email</i>rh@winno.tn</span>
                        </div>
                        
                        
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                    <div class="card border-apply">
                      <div class="m-b-20">
                        <div class="contact-grid">
                          <div class="profile-header l-bg-green">
                            <div class="user-name">Digit-U</div>
                            <div class="name-center">Stage PFE DevOps</div>
                          </div>
                          <img src="assets/images/user/digitu.png" class="user-img" alt="">
                          <p>
                              Mise en place d'un workflow pour le déploiement des applications multi et mono services
                            <br />Tunis
                            <br />6 mois
                          </p>
                          <div>
                            <span class="phone">
                              <i class="material-icons">email</i>rh@digitu.tn</span>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card border-apply">
                      <div class="m-b-20">
                        <div class="contact-grid">
                          <div class="profile-header l-bg-orange">
                            <div class="user-name">Orange</div>
                            <div class="name-center">développeur web</div>
                          </div>
                          <img src="assets/images/user/orange.png" class="user-img" alt="">
                          <p>
                              Développement React JS
                            <br />Tunis
                            <br />5 mois
                          </p>
                          <div>
                            <span class="phone">
                              <i class="material-icons">email</i>rh@orange.tn</span>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
          
              </div>
    
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  