<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Ajouter un étudiant</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Accueil</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Etudiants</a>
            </li>
            <li class="breadcrumb-item active">Ajouter</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Ajouter un étudiant</h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="stdForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Numéro d'inscription</mat-label>
                    <input matInput formControlName="rollNo" required>
                    <mat-error *ngIf="stdForm.get('rollNo').hasError('required')">
                      Le numéro d'inscription est requis
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Nom complet</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="stdForm.get('name').hasError('required')">
                      Le nom complet est requis
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Genre</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'male'">
                        Masculin
                      </mat-option>
                      <mat-option [value]="'female'">
                        Féminin
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="stdForm.get('gender').hasError('required')">
                      Le genre est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="stdForm.get('email').hasError('email') && stdForm.get('email').touched">
                      Veuillez entrer un email valide
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Numéro de téléphone</mat-label>
                    <input matInput formControlName="mobile" type="number" required>
                    <mat-error *ngIf="stdForm.get('mobile').hasError('required')">
                      Le numéro de téléphone est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Choisir une filière</mat-label>
                    <mat-select formControlName="department" required>
                      <mat-option [value]="'gl'">
                        Génie Logiciel
                      </mat-option>
                      <mat-option [value]="'iia'">
                        Informatique Industrielle & Automatique
                      </mat-option>
                      <mat-option [value]="'imi'">
                        Instrumentation et Maintenance Industrielle
                      </mat-option>
                      <mat-option [value]="'rt'">
                        Réseaux Informatiques et Télécommunications
                      </mat-option>
                      <mat-option [value]="'ch'">
                        Chimie Industrielle
                      </mat-option>
                      <mat-option [value]="'bio'">
                        Biologie industrielle
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="stdForm.get('department').hasError('required')">
                      Le choix de filière est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Date de naissance</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="stdForm.get('dob').hasError('required')">
                      La date de naissance est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="mr-3" [disabled]="!stdForm.valid " mat-raised-button
                          color="primary">Ajouter
                  </button>
                  <button type="button" mat-button>Annuler</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
